body {
  background-color: #700024;
  font-family: helvetica, arial, sans-serif;
}
h3 {
  margin-top: 40px;
  color: white;
  text-align: center;
}
.content {
  width: 85%;
  margin: 20px auto;

}
.top-row {
  display: flex;
  flex-wrap: wrap;
}
.middle-row {
  display: flex;
  flex-wrap: wrap;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
}
.row-item {
  background-size: 100%;
  background-color: #fff;
  flex: 1;
  height: 0;
  padding-bottom: 31%;
  border: solid 3px rgb(143, 7, 51);
  border-radius: 10px;
  margin: 2px;
}
.row-item:hover{
  opacity: 0.5;
  transition: opacity 1s;
  filter: alpha(opacity=50%);
}
.photo-description {
  visibility: hidden;
  height: 100%;
}
.photo-description:hover {
  visibility: visible;
  z-index: 1;
}
.item-1 {
  background-image: url('images/opera-house-preview.jpg');
}
.item-2 {
  background-image: url('images/building-in-bath-preview.jpg');

}
.item-3 {
  background-image: url('images/sainte-chappelle-preview.jpg');

}
.item-4 {
  background-image: url('images/edinburgh-castle-preview.jpg');

}
.item-5 {
  background-image: url('images/natural-history-ice-rink-preview.jpg');

}
.item-6 {
  background-image: url('images/sata-blur-preview.jpg');

}
.item-7 {
  background-image: url('images/zeke-train-preview.jpg');

}
.item-8 {
  background-image: url('images/st-pancras-hotel-preview.jpg');

}
.item-9 {
  background-image: url('images/twin-peaks-view-preview.jpg');
}

.footer {
  display: flex;
  width: 85%;
  background-color: #780328;
  height: 120px;
  box-sizing: border-box;
  border: solid 3px rgba(143, 7, 51, 0.7);
  border-radius: 10px;
  margin: 20px auto;
  align-items: center;
  text-align: center;
}
.footer-item {
  flex: 1;
  max-height: 100%;
}
.footer img {
  max-width: 100%;
}
.square-footer-objects {
  height: 64px;
}
