body {
  background-color: #700024;
  font-family: helvetica, arial, sans-serif;
}
@keyframes slide-in-nav {
  from {top: -50px;}
  to {top: 0px;}
}
nav {
  display: block;
  background-color: #9a8576;
  color: rgb(143, 7, 49);
  font-size: 1.2em;
  font-weight: bold;
  border: solid 3px rgb(143, 7, 49);
  border-top: none;
  top: 0;
  right: 10px;
  padding: 10px 25px;
  z-index: 1;
  position: absolute;
  animation: slide-in-nav 2s;
}
nav a {
  text-decoration: none;
  font-weight: lighter;
  color: #fff;
}
nav a:hover {
  color: rgb(143, 7, 49);
}
.content {
  width: 75%;
  margin: 50px auto;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
}
.middle-row {
  display: flex;
  flex-wrap: wrap;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
}
.photo-container {
  display: flex;
  background-color: #7F6553;
  flex: 1;
  border: solid 3px rgb(143, 7, 49);
  border-radius: 10px;
  margin: 2px;
}
.row-item {
  background-size: 100%;
  flex: 1;
  padding-bottom: 100%;
  border-radius: 6px;
}

.item-1 {
  background-image: url('images/opera-house-preview.jpg');
}
.item-2 {
  background-image: url('images/building-in-bath-preview.jpg');

}
.item-3 {
  background-image: url('images/sainte-chappelle-preview.jpg');

}
.item-4 {
  background-image: url('images/edinburgh-castle-preview.jpg');

}
.item-5 {
  background-image: url('images/natural-history-ice-rink-preview.jpg');

}
.item-6 {
  background-image: url('images/sata-blur-preview.jpg');

}
.item-7 {
  background-image: url('images/zeke-train-preview.jpg');

}
.item-8 {
  background-image: url('images/st-pancras-hotel-preview.jpg');

}
.item-9 {
  background-image: url('images/twin-peaks-view-preview.jpg');
}
.my-profiles-tab {
  background-color: #9a8576;
  margin-top: 30px;
  color: white;
  font-size: 1.3em;
  text-align: center;
  border: solid 3px rgb(143, 7, 49);
  border-bottom: none;
  padding: 10px 25px;
  max-width: 13%;
  margin: auto;
}
.footer {
  display: flex;
  width: 75%;
  background-color: #780328;
  height: 120px;
  box-sizing: border-box;
  border: solid 3px rgba(143, 7, 51, 0.7);
  border-radius: 10px;
  margin: auto;
  align-items: center;
  text-align: center;
}
.footer-item {
  flex: 1;
  max-height: 100%;
}
.footer img {
  max-width: 100%;
}
.square-footer-objects {
  height: 64px;
}
