body {
  background-color: #700024;
  font-family: helvetica, arial, sans-serif;
}
@keyframes slide-in-nav {
  from {top: -50px;}
  to {top: 0px;}
}

@keyframes ease-in-opacity {
  from {opacity: 0.0;}
  to {opacity 0.7;}
}
nav {
  background-color: #9a8576;
  color: rgb(143, 7, 49);
  font-size: 1.2em;
  font-weight: bold;
  border: solid 3px rgb(143, 7, 49);
  border-top: none;
  top: 0;
  right: 10px;
  padding: 10px 25px;
  position: absolute;
  animation: slide-in-nav 2s;
}
nav a {
  text-decoration: none;
  font-weight: lighter;
  color: #fff;
}
nav a:hover {
  color: rgb(143, 7, 49);
}
.content {
  position: relative;
  width: 75%;
  margin: 70px auto;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
}
.middle-row {
  display: flex;
  flex-wrap: wrap;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
}
.photo-container {
  position: relative;
  background-color: #fff;
  flex: 1;
  border: solid 3px rgb(143, 7, 49);
  border-radius: 10px;
  margin: 2px;
}
.photo {
  background-size: 100%;
  padding-bottom: 100%;
  border-radius: 6px;
}
.text {
  position: absolute;
  display: none;
  border-radius: 6px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 30px;
  opacity: 0.7;
  animation: ease-in-opacity 1s;
}
.photo-container:hover .text {
  display: flex;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  vertical-align: middle;
}
.my-profiles-tab {
  background-color: #9a8576;
  margin-top: 30px;
  color: white;
  font-size: 1.3em;
  text-align: center;
  border: solid 3px rgb(143, 7, 49);
  border-bottom: none;
  padding: 10px 25px;
  width: 180px;
  margin: auto;
}
.footer {
  display: flex;
  width: 75%;
  background-color: #780328;
  height: 120px;
  box-sizing: border-box;
  border: solid 3px rgba(143, 7, 51, 0.7);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 75px;
  align-items: center;
  text-align: center;
}
.footer-item {
  flex: 1;
  max-height: 100%;
}
.footer img {
  max-width: 100%;
}
.square-footer-objects {
  max-height: 64px;
}
.fullSizeImage {
  position: fixed;
  /* will change to display: flex in javascript to show full size image*/
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
}
.fullSizeImage img {
  max-height: 90%;
  max-width: 60%;
  margin: auto;
}
